:root {
    --primary-color: slategrey;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "@Microsoft YaHei Light";
    background: #fafafa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    height: auto;
    /* overflow: hidden; */
    background-color: rgb(188, 224, 224);
  }
  .title{
      text-align: center;
  }
  
  /* .carousel-container { 
    border-radius: 30px;
    overflow: hidden;
    max-width: 950px;
    max-height: 600px;
    position: relative;
    box-shadow: 0 0 30px -20px #233b53;
    margin: auto;
    z-index: 0;
  }*/
  .frame {
    position:relative;
    border-radius: 30px;
    overflow: hidden;
    max-width: 950px;
    box-shadow: 0 0 30px -20px #233b53;
    margin: auto;
    z-index: 0;
  }
  /* Hide the images by default */
  .mySlides {
    display: block;
  }
  .mySlides img {
    display: block;
    width: 100%;
  }
  
  /* image gradient overlay [optional] */
  /*  .mySlides::after {
    content: "";
    position: absolute;
    inset: 0;
      background-image: linear-gradient(-45deg, rgba(110, 0, 255, .1), rgba(70, 0, 255, .2));
  } */
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 8px 8px 0;
    background: rgba(173, 216, 230, 0.1);
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 8px 0 0 8px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(173, 216, 230, 0.3);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    background-color: rgba(10, 10, 20, 0.3);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .number {
    color: #f2f2f2;
    font-size: 16px;
    background-color: rgba(173, 216, 230, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
  }
  
  /* The dots/bullets/indicators */
  .dots {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 4px;
    background-color: rgba(173, 216, 230, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  .active,
  .dots:hover {
    background-color: rgba(173, 216, 230, 0.8);
  }
  
  /* transition animation */
  .animate {
    animation-name: animate;
    animation-duration: 2s;
  }
  
  @keyframes animate {
    from {
      transform: scale(1.1) rotateY(10deg);
    }
    to {
      transform: scale(1) rotateY(0deg);
    }
  }
  footer{
    padding: 25px 0px;
    background-color: #42b4e0;
    margin-top: 50px;
    color: white;
    letter-spacing: 1px;
    border-radius: 10px;
    width: 100%;
    display: block;
    text-align: center;
  }

  /*Global*/

*, 
*::after, 
*::before {
    box-sizing: border-box;
}


img {
  width: 100%;
}

/*Gallery*/

.btn {
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    padding: .7em 1.2em;
    margin-right: 5px;
    font-size: 18px;
    box-shadow: 4px 4px 0 rgb(95, 95, 95);
    position: relative;
    cursor: pointer;
}

.btn::before,
.btn::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 4px transparent;
}

.btn::before {
    border-left: solid 4px rgb(95, 95, 95);
    border-right-width: 0;
    position: absolute;
    top: 0;
    right: -4px;
}

.btn::after {
    border-top: solid 4px rgb(95, 95, 95);
    border-bottom-width: 0;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.btn:active {
    box-shadow: 2px 2px 0 rgb(95, 95, 95);
}

.btn:hover {
    background: #222;
}

.btn:active::before {
    border: solid 2px transparent;
    border-left: solid 2px rgb(95, 95, 95);
    right: -2px;
    border-right-width: 0;
}

.btn:active::after {
    border: solid 2px transparent;
    border-top: solid 2px rgb(95, 95, 95);
    bottom: -2px;
    border-bottom-width: 0;
}

.maincontainer {
    padding: 2em;
}

.gallery2 {
    width: 80%;
    margin: 0 auto;
}

.gallery-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery-body {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.img-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    width: 100%;
    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.5);
    margin-top: 1em;
    text-align: center;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
  }
  
  .img-container:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  .fadeIn-bottom{
    top: 55%;
  }
/*Hide Class*/
.img-container {
    position: static;
    transform: scale(1);
    transition: all 500ms;
}

.hide {
    position: absolute;
    transform: scale(0);
}

.item {
    padding: 10px;
    font-size: 20px;
    color: #fff;   
    border-radius: 5px;
}

@media screen and (max-width: 640px){
  .gallery-body{
    display:flex;
    flex-direction: column;
    width: 90%;
  }
  .gallery-header{
    width: 90%;
    
  }
  .btn{
    font-size: 12px;
  }
}